<div class="center-container">
    <form class="form" action="submit" ngSubmit="signUp()">
        <div class="card">
            <div class="card-header">
                <h1 class="card-title">
                    Crie sua conta<span class="square-dot">.</span>
                </h1>
            </div>
            <div class="card-body">
                <div class="input-wrapper-line">
                    <div class="input-wrapper">
                        <label for="name">Nome</label>
                        <input
                            type="text"
                            name="name"
                            placeholder="Nome"
                            autofocus
                        />
                    </div>
                    <div class="input-wrapper">
                        <label for="surname">Sobrenome</label>
                        <input
                            type="text"
                            name="surname"
                            placeholder="Sobrenome"
                        />
                    </div>
                </div>

                <div class="input-wrapper-line">
                    <div class="input-wrapper">
                        <label for="email">E-mail</label>
                        <input type="email" name="email" placeholder="E-mail" />
                    </div>
                    <div class="input-wrapper">
                        <label for="email-confirm">Confirme seu e-mail</label>
                        <input
                            type="email"
                            name="email-confirm"
                            placeholder="Confirme seu e-mail"
                        />
                    </div>
                </div>

                <div class="input-wrapper-line">
                    <div class="input-wrapper">
                        <label for="password">Senha</label>
                        <input
                            type="password"
                            name="password"
                            placeholder="Senha"
                        />
                    </div>
                    <div class="input-wrapper">
                        <label for="password-confirmation"
                            >Confirme sua senha</label
                        >
                        <input
                            type="password"
                            name="password-confirmation"
                            placeholder="Confirme sua senha"
                        />
                    </div>
                </div>

                <div class="input-wrapper-line">
                    <div class="input-wrapper">
                        <label for="birthdate">Data de nascimento</label>
                        <input
                            type="text"
                            name="birthdate"
                            placeholder="Data de nascimento"
                        />
                    </div>
                    <div class="input-wrapper">
                        <label for="gender">Gênero</label>
                        <input type="text" name="gender" placeholder="Gênero" />
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="input-wrapper-line">
                    <div class="back-wrapper">
                        <a class="access-link color-default" (click)="back()">
                            Voltar
                        </a>
                    </div>
                    <button type="submit" class="access-btn">Cadastrar</button>
                </div>
            </div>
        </div>
    </form>
</div>
