.input-wrapper-line {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    &.small {
        grid-template-columns: 1fr;
    }
}

.input-wrapper-line:last-child {
    .back-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
