.center-container {
    .card {
        box-shadow: 15px 15px #8233c0;
    }

    .card-header {
        position: relative;

        .title {
            font-size: 2rem;
        }

        .movie-infos {
            ul {
                list-style: none;
                display: flex;
                gap: 0.5rem;
                padding-inline-start: 0;
                margin: 0;
            }

            li {
                background-color: #8233c0;
                color: #fff;
                padding: 0.5rem;
                font-size: 0.8rem;
            }
        }

        .movie-cover-overlay {
            position: relative;
            z-index: 1;
            margin-top: 6rem;
        }

        .movie-cover {
            background-position: 50% 50%;
            background-size: cover;
            position: absolute;
            top: 0;
            bottom: 0;
            width: calc(100% + 6rem + 1px);
            margin: -3rem;
            filter: grayscale(1);
            height: 12rem;
            mask-image: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 1) 50%,
                rgba(0, 0, 0, 0.5) 70%,
                rgba(0, 0, 0, 0.05) 90%,
                transparent 100%
            );
        }
    }

    .synopsis {
        font-size: 1.5rem;
    }

    .movie-buttons {
        display: flex;
    }
}
