<div class="bg-default container">
    <form class="square" action="submit" ngSubmit="login()">
        <h1>Acesse sua conta<span class="square-dot">.</span></h1>
        <div class="input-container">
            <label for="">E-mail</label>
            <input type="email" placeholder="E-mail" autofocus />
        </div>
        <div class="input-container">
            <label for="">Senha</label>
            <input type="password" placeholder="Senha" />
            <div class="text-right">
                <a
                    href
                    routerLink="/auth/forgotten-password"
                    class="access-link color-default"
                    >Esqueceu sua senha</a
                >?
            </div>
        </div>
        <button type="submit" class="access-btn">Entrar</button>
        <p class="sign-up-text">
            Novo por aqui?
            <a routerLink="/auth/sign-up" class="access-link color-default"
                >Crie sua conta</a
            >.
        </p>
    </form>
    <div class="square-purple"></div>
</div>
