<div class="center-container">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title text-center">
                Sobre nós<span class="square-dot">.</span>
            </h1>
        </div>
        <div class="card-body">
            <p>
                Somos uma plataforma de inovação e queremos facilitar o acesso
                dos brasileiros à cultura. Atualmente, disponibilizamos um
                serviço de streaming de filmes em
                <strong>domínio público</strong>.
            </p>
            <p>
                A plataforma estará em <strong>constante evolução</strong>,
                aumentando a quantidade de títulos disponíveis e lançando novas
                funcionalidades, sempre visando democratizar o acesso ao
                entretenimento e cultura.
            </p>
        </div>
        <div class="card-footer">
            <div class="text-center">
                <a routerLink="/" class="access-link color-default"> Voltar </a>
            </div>
        </div>
    </div>
</div>
