<div class="center-container">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title text-center">
                OWL Stream<span class="square-dot">.</span>
            </h1>
        </div>
        <div class="card-body">
            <p>
                Somos um serviço de streaming gratuito e queremos facilitar o
                acesso a filmes em domínio público.<br />
            </p>
            <p>
                A plataforma estará em <strong>evolução contínua</strong>. Isto
                é, aumentaremos nosso acervo de mídias e lançaremos novas
                funcionalidades para democratizar o acesso à cultura.
            </p>
        </div>
        <div class="card-footer">
            <div class="text-center">
                <a routerLink="/" class="access-link color-default"> Voltar </a>
            </div>
        </div>
    </div>
</div>
