.header {
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-container .logo,
    .access-btn-container {
        width: 14rem;
    }

    .categories {
        ul {
            list-style: none;
            display: inline-flex;
            margin-block: 0;
            padding-inline: 0;
            width: 40rem;
            justify-content: space-evenly;
            text-transform: uppercase;

            .access-link {
                font-size: 1.75rem;
            }
        }
    }

    .access-btn-container {
        text-align: right;
    }
}
