<div class="header">
    <div class="logo-container">
        <a href="">
            <img
                class="logo"
                src="assets/images/logos/logo-purple.svg"
                alt="OWL Stream"
            />
        </a>
    </div>

    <div class="categories">
        <ul>
            <li>
                <a class="access-link" routerLink="/library/movies">Filmes</a>
            </li>
            <li>
                <a class="access-link" routerLink="/library/movies?genres=4">
                    Documentários
                </a>
            </li>
            <li>
                <a class="access-link" routerLink="/library/series">Séries</a>
            </li>
        </ul>
    </div>

    <div class="access-btn-container">
        <a href class="access-btn"> Entrar </a>
    </div>
</div>
