@import "utilities.scss";
@import "components.scss";

/* Styling HTML default elements */
html,
body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    font-weight: 200;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

a,
button,
a:hover,
button:hover {
    -webkit-appearance: none;
    outline: none;
}

a:focus,
input:focus,
button:focus {
    outline: #8233c0 double 1px;
}

input {
    font-size: 1.2rem;
    padding: 1rem;
    border: 1.75px solid #555;
    min-width: 20rem;
    outline: 1px double transparent;
    transition: outline-color 0.2s;

    &.small {
        min-width: unset;
    }
}

input:hover,
input:focus {
    outline-color: #8233c0;
}

button {
    cursor: pointer;
}
