/* Utility classes - not components */
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.color-default {
    color: #8233c0;
}

.bg-default {
    background-color: #fafafa;
}

.font-math {
    font-family: math;
}

.opacity-0 {
    opacity: 0;
}

.width-100 {
    width: 100% !important;
}

.fa-spin {
    animation-duration: 1s !important;
}
