<div class="bg-default container">
    <div class="square">
        <h1>Crie sua conta<span class="square-dot">.</span></h1>
        <form class="form-container" action="submit" ngSubmit="login()">
            <div class="input-group-container">
                <div class="input-group">
                    <label for="">Primeiro nome</label>
                    <input type="text" placeholder="Primeiro nome" autofocus />
                </div>
                <div class="input-group">
                    <label for="">Sobrenome</label>
                    <input type="text" placeholder="Sobrenome" />
                </div>
                <div class="input-group">
                    <label for="">Data de nascimento</label>
                    <input type="text" placeholder="Data de nascimento" />
                </div>
                <div class="input-group">
                    <label for="">Gênero</label>
                    <input type="text" placeholder="Gênero" />
                </div>
            </div>
            <div class="input-group-container">
                <div class="input-group">
                    <label for="">E-mail</label>
                    <input type="email" placeholder="E-mail" />
                </div>
                <div class="input-group">
                    <label for="">Senha</label>
                    <input type="password" placeholder="Senha" />
                </div>
                <div class="input-group">
                    <label for="">Confirme sua senha</label>
                    <input type="password" placeholder="Confirme sua senha" />
                </div>
                <div class="input-group">
                    <label for="">&nbsp;</label>
                    <button type="submit" class="access-btn">Cadastrar</button>
                </div>
            </div>
        </form>
        <p class="sign-in-text">
            Já possui uma conta?
            <a routerLink="/auth/sign-in" class="access-link color-default"
                >Acesse-a aqui</a
            >.
        </p>
    </div>
</div>
