<div class="content-wrapper">
    <form class="form" action="submit" ngSubmit="login()">
        <div class="card" [ngClass]="{ small: size === breakpoint.Small }">
            <div class="card-header">
                <h1 class="card-title">
                    Acesse sua conta<span class="square-dot">.</span>
                </h1>
            </div>
            <div class="card-body">
                <div class="input-wrapper">
                    <label for="email">E-mail</label>
                    <input
                        type="email"
                        name="email"
                        placeholder="E-mail"
                        autofocus
                        [ngClass]="{ small: size === breakpoint.Small }"
                    />
                </div>
                <div class="input-wrapper">
                    <label for="password">Senha</label>
                    <input
                        type="password"
                        name="password"
                        placeholder="Senha"
                        [ngClass]="{ small: size === breakpoint.Small }"
                    />
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="access-btn">Entrar</button>
                <div class="info-wrapper">
                    <div class="info">
                        <p>Novo por aqui?</p>
                        <a
                            routerLink="/auth/sign-up"
                            class="access-link color-default"
                            >Crie uma conta</a
                        >
                    </div>
                    <div class="info">
                        <p>Precisa de ajuda?</p>
                        <a
                            href
                            routerLink="/auth/forgotten-password"
                            class="access-link color-default"
                            >Redefina a senha</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
