.square-dot {
    font-size: 1.5em;
}

.container {
    width: 100%;
    display: flex;
    position: absolute;
    top: 6rem;
    bottom: 0;
    justify-content: center;
    align-items: center;

    .square {
        display: grid;
        gap: 1rem;
        padding: 3rem;
        background-color: #fff;
        box-shadow: 50px 50px #8233c0;
        border: 1px solid #eee;

        h1 {
            font-size: 1.5rem;
        }

        button {
            padding: 1rem;
        }

        .links-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            font-size: 1.2rem;

            p {
                margin: 0.5rem 0;
            }

            .access-link {
                text-transform: initial;
            }
        }

        .input-container {
            display: grid;
            gap: 0.5rem;

            label {
                display: none;
            }
        }
    }
}
