<div class="content bg-default">
    <div class="description-text">
        <p class="bg-default">
            Somos uma plataforma de streaming de filmes em domínio público.
        </p>
        <p class="bg-default" style="margin-bottom: 1rem">
            Nosso objetivo é levar entretenimento e conhecimento para
            <strong>todos</strong>.
        </p>
        <a class="access-btn" href>Saiba mais</a>
    </div>

    <img
        class="landing-bg"
        src="assets/images/landing-bg.png"
        alt="OWL Stream - banner"
    />

    <div class="square">
        <div class="impact-text bg-default">
            <h2>
                De graça
                <br />
                e ilimitado.
            </h2>
        </div>
    </div>

    <!-- <div class="access-library-container">
          <a class="access-btn" href>Acessar catálogo</a>
      </div> -->
</div>
