.medium {
    font-size: 1.75rem;
}

.email-exhibition {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;

    span {
        background-color: #8233c0;
        padding: 1rem;
        display: flex;
        align-items: center;

        &,
        i {
            color: #fff;
        }
    }
}
