<div class="content-wrapper">
    <form class="form" action="submit" ngSubmit="login()">
        <div class="card" [ngClass]="{ small: size === breakpoint.Small }">
            <div class="card-header">
                <h1 class="card-title">
                    Redefina sua senha<span class="square-dot">.</span>
                </h1>
            </div>
            <div class="card-body">
                <div class="input-wrapper">
                    <label for="email">Informe seu e-mail</label>
                    <input
                        type="email"
                        name="email"
                        placeholder="E-mail"
                        autofocus
                        [ngClass]="{ small: size === breakpoint.Small }"
                    />
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="access-btn">Avançar</button>
                <div class="text-center">
                    <a
                        routerLink="/auth/sign-in"
                        class="access-link color-default"
                        >Voltar</a
                    >
                </div>
            </div>
        </div>
    </form>
</div>
