<div class="center-container">
    <form class="form" (ngSubmit)="next()" [formGroup]="form" #ngForm="ngForm">
        <div class="card" [ngClass]="{ small: size === breakpoint.Small }">
            <div class="card-header">
                <h1 class="card-title text-center">
                    {{ step === 0 ? "Refefinir senha" : "Tudo certo"
                    }}<span class="square-dot">.</span>
                </h1>
            </div>
            <ng-container *ngIf="step === 0">
                <div class="card-body">
                    <div class="input-wrapper">
                        <label for="email">Informe seu e-mail</label>
                        <input
                            type="email"
                            name="email"
                            formControlName="email"
                            placeholder="E-mail"
                            autofocus
                            required
                            [ngClass]="{
                                small: size === breakpoint.Small,
                                error:
                                    ngForm.submitted &&
                                    form.controls.email.errors
                            }"
                        />
                        <ng-container *ngIf="ngForm.submitted">
                            <span
                                *ngIf="form.controls.email.errors?.['required']"
                                class="message error text-right"
                            >
                                E-mail obrigatório.
                            </span>
                            <span
                                *ngIf="form.controls.email.errors?.['email']"
                                class="message error text-right"
                            >
                                E-mail inválido.
                            </span>
                        </ng-container>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="access-btn">Avançar</button>
                    <div class="text-center">
                        <a
                            routerLink="/auth/sign-in"
                            class="access-link color-default"
                        >
                            Voltar
                        </a>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="step === 1">
                <div class="card-body">
                    <span class="medium text-center">
                        Se o e-mail for válido, em breve você receberá mais
                        instruções em sua caixa de entrada:
                    </span>
                </div>
                <div class="card-footer">
                    <div class="email-exhibition">
                        <span class="text-center">
                            <i class="fa-regular fa-envelope"></i>&nbsp;
                            {{ form.controls.email.value }}
                        </span>
                    </div>
                </div>
            </ng-container>
        </div>
    </form>
</div>
