<div class="bg-default container">
    <form class="square" action="submit" ngSubmit="login()">
        <h1>Redefina sua senha<span class="square-dot">.</span></h1>
        <div class="input-container">
            <label for="email">Informe seu e-mail</label>
            <input type="email" name="email" placeholder="E-mail" autofocus />
        </div>
        <button type="submit" class="access-btn">Avançar</button>
        <div class="text-center">
            <a routerLink="/auth/sign-in" class="access-link color-default"
                >Voltar</a
            >
        </div>
    </form>
    <div class="square-purple"></div>
</div>
