<div class="bg-default container">
    <form class="square" action="submit" ngSubmit="login()">
        <!-- <a href routerLink="/auth/sign-in" class="access-btn">
            <i class="fa fa-arrow-left"></i>
        </a> -->
        <h1>Redefina sua senha<span class="square-dot">.</span></h1>
        <div class="input-container">
            <label for="">Informe seu e-mail</label>
            <input type="email" placeholder="E-mail" autofocus />
        </div>
        <button type="submit" class="access-btn">Avançar</button>
    </form>
    <div class="square-purple"></div>
</div>
