<div class="category-section" *ngIf="cinelist?.movies?.length">
    <div class="category-title">
        <h1 class="title">{{ cinelist.name }}</h1>
        <small>{{ cinelist.description }}</small>
    </div>
    <div
        class="category-body"
        [style]="{ 'margin-left': scrollable ? '-2rem' : '0' }"
    >
        <div
            class="arrow-container arrow-container-left"
            [ngClass]="{ 'opacity-0': arrowLeftHidden }"
            *ngIf="scrollable"
        >
            <a (click)="scroll('left')">
                <i class="fa fa-chevron-left"></i>
            </a>
        </div>
        <div class="movie-list" [id]="cinelist.id">
            <a
                class="movie-container"
                *ngFor="let movie of cinelist?.movies"
                [routerLink]="['/library/movies/', movie.id]"
            >
                <h2 class="movie-title">{{ movie.title }}</h2>
                <div
                    class="movie-cover"
                    [ngStyle]="{
                        'background-image':
                            'url(&quot;' +
                            imagePrefix +
                            movie.id +
                            '.jpg&quot;)'
                    }"
                ></div>
            </a>
        </div>
        <div class="arrow-container arrow-container-right" *ngIf="scrollable">
            <a (click)="scroll('right')">
                <i class="fa fa-chevron-right"></i>
            </a>
        </div>
    </div>
</div>
