<div class="category-section">
    <div class="category-title">
        <h1 class="title">{{ title }}</h1>
    </div>
    <div class="category-body">
        <div
            class="arrow-container arrow-container-left"
            [ngClass]="{ 'opacity-0': arrowLeftHidden }"
        >
            <a (click)="scroll(id, 'left')">
                <i class="fa fa-chevron-left"></i>
            </a>
        </div>
        <div class="movie-list" [id]="movieListIdSuffix + id">
            <a
                class="movie-container"
                *ngFor="let movie of movies"
                [routerLink]="['/library/movies/', movie.id]"
            >
                <h2 class="movie-title">{{ movie.title }}</h2>
                <div
                    class="movie-cover"
                    [ngStyle]="{
                        'background-image':
                            'url(&quot;' +
                            imagePrefix +
                            movie.id +
                            '.jpg&quot;)'
                    }"
                ></div>
            </a>
        </div>
        <div class="arrow-container arrow-container-right">
            <a (click)="scroll(id, 'right')">
                <i class="fa fa-chevron-right"></i>
            </a>
        </div>
    </div>
</div>
